###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.vsidx
*.log
Phantom Pixel/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Phantom Pixel/Assets/Audio/Brian's Audio Selection SFX/Game Audio SFX 1.2 4-19-25/Explosion SFX's/reversed (needs to be assessed for funtionality)/reversed-explosion-short-gamemaster-audio-1-00-01.mp3.meta
Phantom Pixel/Assets/Audio/Brian's Audio Selection SFX/Game Audio SFX 1.2 4-19-25/Explosion SFX's/reversed (needs to be assessed for funtionality)/reversed-explosion-short-gamemaster-audio-1-00-01.mp3.meta
/Builds
Phantom Pixel/Phantom Pixel/
/Phantom Pixel/.vs/Phantom Pixel/CopilotIndices
/Phantom Pixel/.vs/Phantom Pixel/CopilotIndices/17.12.53.23981
*.dwlt
